<form>
    <fieldset>
        <legend>{{name}}</legend>
        <div class="row">
            <div class="large-3 columns">
                {{outlet "order"}}
            </div>
            <div class="large-6 columns columns">
                {{outlet "price"}}
            </div>
            <div class="large-3 columns columns">
                {{outlet "symbol"}}
            </div>
        </div>
    </fieldset>
</form>


